*{
    margin: 0; 
    padding: 0;
}

/* POLICE */
.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.prompt-regular {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* FIN POLICE */

/* NAVBAR */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5rem;
    height: 8rem;
    background: rgb(34,116,195);
    background: linear-gradient(0deg, rgba(34,116,195,1) 0%, rgba(0,5,5,1) 100%);
}


nav a{
    display: block;
    text-align: center;
    width: 400px;
    height: 8rem;
    padding-top: 25px;
    box-sizing: border-box;
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
    font-family: "Concert One";
}

nav a:hover{
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.logo{
    background-image: url("/images/logo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 5rem;
    width: 5rem;
    display: inline-block;
    margin: -1.2rem;
    border-radius: 100%;
    filter: drop-shadow(0 0 0.75rem rgb(212, 199, 201));    
}

#ch{
    display: none;
}

#lab{
    width: 30px ;
    height: 30px;
    background:linear-gradient(rgb(2, 169, 246) 0%,rgb(2, 169, 246) 20%,transparent 21%, transparent 40%,rgb(2, 169, 246) 41%, rgb(2, 169, 246) 60%, transparent 61%, transparent 80%, rgb(2, 169, 246) 81%, rgb(2, 169, 246) 100% );
    border-radius: 5px;
    margin: 4px;
    display: block;
    display: none;
}

/* FIN NAVBAR */

.main{
    font-family: "Prompt", sans-serif;
    
}

.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(/images/skyrim3.webp);
    width: 100%;
    height: 112vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
}

.banner h1{
    display: inline;
    width: 100%;
    height: 2rem;
    text-align: center;
    padding-top: 2%;
    font-size:xx-large;
}

.box{
    width: 30%;
    padding-top: -10rem;
}

.box h3{
    padding: 0 0 4% 4%;
}

.txtdescription{
    padding: 2%;    
    text-align: justify;
}

.evnmt:hover, .description:hover{
    border-radius: 25px;
    box-shadow: 0px 10px 22px 15px rgba(227, 227, 227, 0.1);
}

.event{
    padding:5% ;
    overflow-y: scroll;
    scrollbar-color: #0d5fda rgb(64, 61, 61);
    scrollbar-width: thin; 
    height: 40rem; 
      
}

.evnmt{
    padding: 4%;
}

.event p{
    text-align: justify;
}

.event a{
    color: aliceblue;
    
}















@media all and (max-width:767px){
    
    header{
        width: 100%;
        height: 12rem;  
        background: rgb(34,116,195);
        background: linear-gradient(0deg, rgba(34,116,195,1) 0%, rgba(0,7,14,1) 34%, rgba(0,5,5,1) 100%);
    }
    
    nav{
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    transform: translate(-1000px,0);
    transition: all 0.5s ease;
    }
    
    nav a {
        flex-direction: column;
        width: auto;
        color: rgb(250, 249, 249);
        background-color: black;
        border-bottom: #0dc9da38 1px solid;
    }

 
    
    #ch:checked+nav{
        transform: translate(0,0);
        transition: all 0.5s ease;
    }

    #lab{
        display: block;
    }
}