.container{
    display:flex;
    justify-content: space-around;
     height: 800px;
     width: 1500px;
     flex-direction: row;
     background-color: blue;
    }
    .item{
        width: 300px;
        height: 295px;
        background-color: cadetblue;
    }
    .item1{
        width: 300px;
        height: 295px;
    }
.container1{
    display: flex;
    justify-content: space-around;
    height: 800px;
    width: 1500px;
    background-color: brown;
    flex-direction:row;
}
.centre{
    text-align: center;
}